{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

<div class="about-container">

    <h2 class="subheading">Purpose of the System</h2>
    <p class="content">
        The Integrated Campus Safety and Security System (ICSSS) is developed to strengthen campus safety by combining facial recognition technology with an efficient, web-based incident reporting platform. The system ensures that only authorized individuals can be identified and monitored through advanced facial recognition, while also providing students, faculty, and staff with a simple and accessible way to report incidents. By simplifying both identity verification and safety communication, the ICSSS supports a more secure, transparent, and responsive campus environment.
    </p>

    <h2 class="subheading">About the Developers</h2>
    <p class="content">
        <strong>Roi Sinclair V. Palado</strong><br>
        Project Manager
    </p>
    <p class="content">
        <strong>Rafael A. Salupari</strong><br>
        Project Assistant
    </p>
    <p class="content">
        <strong>Vince Erick Q. Quiozon</strong><br>
        Project Manager-Assistant
    </p>
    <p class="content">
        We are a team of Information Technology students dedicated to creating smart and practical digital solutions for real-world problems. Our work combines technical knowledge from the classroom with real applications that improve safety and efficiency in school environments. This project, the Integrated Campus Safety and Security System (ICSSS), shows our commitment to using technology for safer and more organized campuses. Through features like face recognition, incident reporting, and user-friendly access, we aim to support school communities with reliable and easy-to-use systems. This research is part of our goal to grow as future IT professionals and contribute to a safer digital future.
    </p>

</div>

{% endblock content %}
